
* {
  box-sizing: border-box;
}

button, input[type="submit"] {
  border: 1px solid black;
  cursor: pointer;
  padding: 5px 15px;
  -webkit-box-shadow: 5px 4px 0px 1px #000000;
  -moz-box-shadow: 5px 4px 0px 1px rgb(0, 0, 0);
  box-shadow: 5px 4px 0px 1px rgb(0, 0, 0);
}

h1{
  margin: 0 0 0 15px;
}

h2 {
  margin-top: 0;
}

fieldset {
  border-color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block ;;
}

header {
  background-color: cornflowerblue;
}

.container {
  display: table;
  width: 100%;
  padding: 0 15px;
}

.right-side {
  display: table-cell;
}

.left-side {
  display: table-cell;
  width: 60%;
  padding-right: 15px;
}

.products-list-top {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.products-list-top .add {
  background-color: lightgreen;
  white-space: nowrap;
}

.products-list-top .select-label {
  white-space: nowrap;
}

.products-list-top select {
  border-color: black;
  margin-left: 15px;
}

.products-list-top .search-input {
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 15px;
  white-space: nowrap;
}

.products-list-top .search-input input[type="text"] {
  border: 0;
  background-color: transparent;
  vertical-align: top;
  padding: 6px 0 0 23px;
}

.products-list-top .search-input i {
  position: absolute;;
}

.products-list li {
  border: 2px solid black;
  margin-bottom: 15px;
  padding: 15px;
  cursor: pointer;
  position: relative;
}

.products-list .product-info {
 display: inline-block;
 vertical-align: top;
 margin: 0 0 0 15px;
 padding-right: 75px;
}

.products-list .del {
  float: right;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: orange;
}

.product-form-wrapper {
  position: fixed;
  width: calc(40% - 10px);
  top: 90px;
}

.product-form fieldset {
  padding: 15px;
}

.product-form input[type="text"], .product-form input[type="number"], .product-form textarea {
  width: 100%;
  font-family: inherit;
  border: 2px solid black;
  font-size: 20px;
}

.product-form textarea {
  resize: none;
}

.product-form .form-row {
  margin-bottom: 15px;
}

.product-form .form-row {
  margin-bottom: 15px;
}

.product-form .save {
  background-color: lightgreen;
}

.pager {
  text-align: center;
  margin-bottom: 15px;
}

.pager .pager-numering {
  display: inline-block;
  margin: 0 15px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popup button {
  position: absolute;;
  right: 0;
  top: 0;
}

.popup .popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  border: 2px solid black;
  padding-right: 40px;
}

@media screen and (max-width: 700px) {
  .products-list-top {
    display: block ;
  }
  .products-list-top .add{
    margin-bottom: 15px;
  }
  .products-list-top .search-input {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 499px) {
  .container {
    padding: 0;
  }

  .left-side {
    display: block;
    width: 100%;
    padding: 0;
  }

  .right-side {
    display: block;
  }

  .product-form-wrapper {
    position: static;
    width: 100%;
  }
  
}

